<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header><img class="logo-mercado-liebre" src="/images/logo-mercado-liebre.svg" alt="logo">
        <div class="barra">
            <input class="barra-de-busqueda" type="text" placeholder="Buscar productos, marcas">
            <button class="boton"><i class="fas fa-search"></i></button>
        </div>
        <p class="cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav class="nav-bar">
            <ul>
                <li><a href="#">ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div id="icono">
            <button class="boton1"><i class="fas fa-bars"></i></button>
            <div><img class="banner" width="1850" src="images\img-home-banner.jpg" alt=""></div>
    </header>

    <main>
        <section>
            <h2 class="ultima-compra-y-oferta">Basado en tu última visita</h2>
            <div class="flex">
                <div class="fondo">
                    <img class="image" width="150" src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio"></i>$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
                <div class="fondo"><img class="image" width="150" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio"> $230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>



                <div class="fondo"><img class="image" width="150" src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Celular Samsung">


                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>


                <div class="fondo"><img class="image" width="150" src="/images/img-tv-samsung-smart.jpg" alt="">

                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">SmartTv Samsung 43</h4>
                </div>

            </div>

        </section>
        <section>
            <h2 class="ultima-compra-y-oferta">Ofertas</h2>
            <div class="flex">
                <div class="fondo"><img class="image" width="150" src="/images/img-cafetera-moulinex.jpg"
                        alt="imagen de la cafetera">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% off</p>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
                <div class="fondo"> <img class="image" width="150" src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio"> $230.000</p>
                    <p class="descuento">20% off</p>
                    <h4 class="descripcion">MacBook Pro 2019</h4>
                </div>

                <div class="fondo"><img class="image" width="150" src="/images/img-samsung-galaxy-s10.jpg"
                        alt="Celular Samsung">
                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% off</p>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>

                <div class="fondo"><img class="image" width="150" src="/images/img-tv-samsung-smart.jpg" alt="">

                    <i class="fas fa-truck camion"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% off</p>
                    <h4 class="descripcion">SmartTv Samsung 43</h4>
                </div>

            </div>
        </section>
    </main>
    <footer class="contenedor">
        <section>
            <i id="card" class="fas fa-credit-card"></i>
            <div class="tarjeta">
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p class="parrafo">Con Mercado Liebre Cash, tenés cuotas sin</p>
                <p class="parrafo">interés con tarjeta o efectivo en
                    puntos de</p>
                <p class="parrafo">pago. ¡Y siempre es seguro!</p>
            </div>
        </section>

        <section>
            <i id="envio-gratis" class="fas fa-gift"></i>
            <div class="tarjeta">
                <h2>Envío gratis desde $ 2.500</h2>
                <p class="parrafo">Solo por estar registrad@ en Mercado Liebre</p>
                <p class="parrafo">tenés envíos gratis en miles de
                    productos. Es</p>
                <p class="parrafo">un beneficio de Mercado Puntos.</p>
            </div>
        </section>
        <section>
            <i id="seguridad" class="fas fa-user-shield"></i>
            <div class="tarjeta">
                <h2>Seguridad, de principio a fin</h2>
                <p class="parrafo">¿No te gusta? ¡Devolvelo! En Mercado Liebre,</p>
                <p class="parrafo">no hay nada que no puedas hacer,porque</p>
                <p class="parrafo">estás siempre protegid@.</p>
            </div>
        </section>
        <section>
        </section>
        <h1>Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
    </footer>

</body>

</html>